[submodule "IHP-Open-PDK"]
	path = IHP-Open-PDK
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
	branch = dev
[submodule "openpdk-libraries"]
	path = openpdk-libraries
	url = https://github.com/matebuteler/openpdk-libraries.git
	branch = experiment/ihp-gds-extraction
[submodule "QDLL6501-main/Layout/logo/artistic"]
	path = QDLL6501-main/Layout/logo/artistic
	url = https://github.com/pulp-platform/artistic.git
